
@import "modules/header";
@import "modules/client_list";
@import "modules/registration_box";




.main_container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #f8f3ed;
}